<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/sgn</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="model.Institute"/>
    <mapping class="model.Campus"/>
    <mapping class="model.Department"/>
    <mapping class="model.Building"/>
    <mapping class="model.Professor"/>
    <mapping class="model.Activity"/>
    <mapping class="model.Program"/>
    <mapping class="model.Room"/>
    <mapping class="model.RoomType"/>
    <mapping class="model.Course"/>
    <mapping class="model.Event"/>
    <mapping class="model.Meeting"/>
    <mapping class="model.Period"/>
    <mapping class="model.Request"/>
    <mapping class="model.Student"/>
    <mapping class="model.Subject"/>

    <!-- DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>